<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/navbar'); %>
</header>

<main>
    <div class="jumbotron col-lg-6 offset-lg-3 row justify-content-center">
        <p>Delivering a "<%=postalType %>" that weighs <%=weight%> will cost <%=result %></p>
    </div>
    <div class="jumbotron col-lg-6 offset-lg-3 row justify-content-center">
        <a href="../pages/home.ejs">Back to form</a>
    </div>
</main>

<footer class="footer fixed-bottom">
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>